--find-links https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu

# Web Framework
flask==3.0.0
flask-cors==4.0.0

# Audio Processing & ML
soundfile==0.12.1
pydub>=0.25.1
openai-whisper
scikit-learn
joblib==1.3.2
xgboost

# Utilities & DB
numpy
pandas==2.2.0
pymongo[srv]>=4.6.0
python-dotenv>=1.0.0