--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0

# Web Framework
flask==3.0.0
flask-cors==4.0.0

# Audio Processing & Speech
soundfile==0.12.1
pydub>=0.25.1
openai-whisper

# Machine Learning & Utilities
scikit-learn
joblib==1.3.2
xgboost
numpy
pandas==2.2.0

# Database & Config
pymongo[srv]>=4.6.0
python-dotenv>=1.0.0